.App {
  text-align: center;
}

.app__form{
  padding: 20px;
  position: fixed;
  bottom:0;
  z-index:1 ;
  background-color: #e9ebe9;
  width: 95%;
  margin:20px;

}
.app__formcontrol{
  display: flex !important;
  flex-direction: row !important;
}
.form__input{
  flex:1;
}
.form__iconbtn{
  flex:0;
}