.message{
    padding:10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: white;
    text-align: left !important;  
}
.message__usercard{
    background-color: #8b81ff !important;
}
.message__guestcard{
    background-color: #e9e9eb !important;
}